/* רוחב מלא לשדות */
.full-width {
  width: 100%;
  margin-bottom: 10px;
}

/* סידור הטופס */
.task-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  min-width: 300px; /* רוחב מינימלי כדי שלא יצא צפוף מדי */
}

/* ריווח קטן לכותרת */
h2 {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}